:root {
   --amarillo: #eac926;
   --azul: #03264c;
   --celeste: #1259c3;
   --gris-oscuro: #666;
   --gris-claro: #ebebeb;
   --verde: #39b54a;

   --cuerpo-texto: 12px;
   --titulares: 24px;
   --precios: 18px;
   --descuentos: 16px;
   --descripciones: 16px;
}

body {
   font-family: 'Roboto', sans-serif;
   font-size: var(--cuerpo-texto);
   margin: 0;
   background-color: var(--gris-claro);
}

ul,
ol {
   list-style: none;
   padding: 0;
}

a {
   color: #000;
   text-decoration: none;
}

header {
   background-color: var(--amarillo);
   padding: 1rem 0;   
}

.logo-principal {
   width: 8rem;
   margin: 1rem 2rem;
}

.barra-busqueda{
   margin-left: 1rem;
}

.coutas-p {
   text-align: center;
}

.burger-menu {
   background-color: var(--celeste);
   color: #fff;
   padding: 0.6rem;
   margin: 0 auto;
   width: max-content;
   border-radius: 0.4rem;
}

.menu-icono {
   font-size: 1.5rem;
}

footer {
   background-color: #fff;
  
   padding: 3rem 1rem 1rem;
}

footer section {
   text-align: center;
   margin-bottom: 2rem;
}

footer h3 {
   font-size: 1rem;
   color: var(--gris-oscuro);
   margin: 0;
   font-weight: 900;
}
footer p {
   margin: 0 auto;
   color: var(--gris-oscuro);
   width: 90%;
   max-width: 350px;
}

footer section i {
   color: var(--celeste);
   font-size: 2rem;
   margin-bottom: 10px;
}

section.copyright {
   text-align: left;
   padding: 0;
   margin: 0;
}
section.copyright p {
   text-align: left;
   margin: 0;
}
