:root {
   --amarillo: #eac926;
   --azul: #03264c;
   --celeste: #1259c3;
   --gris-oscuro: #666;
   --gris-claro: #ebebeb;
   --verde: #39b54a;

   --cuerpo-texto: 12px;
   --titulares: 24px;
   --precios: 18px;
   --descuentos: 16px;
   --descripciones: 16px;
}

html {
   box-sizing: border-box;
}

*,
*::after,
*::before {
   box-sizing: inherit;
}

body {
   font-family: 'Roboto', sans-serif;
   font-size: var(--cuerpo-texto);
   margin: 0;
   background-color: var(--gris-claro);
}

ul,
ol {
   list-style: none;
   padding: 0;
}

a {
   color: #000;
   text-decoration: none;
}

img {
   width: 100%;
   margin: 0;
}

header {
   background-color: var(--amarillo);
   padding: 1rem 0 0.1px;
}

header .logo-barra-busqueda-contenedor {
   margin: 1rem auto 0;
   max-width: 500px;
   display: flex;
   /* gap: 1rem; */
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
}

header nav {
   display: none;
}

.logo-principal {
   width: 50%;
}

.barra-busqueda {
   width: 50%;
   display: flex;
}

.barra-busqueda input {
   width: 80%;
}
.barra-busqueda button {
   padding: 0;
}

.coutas-p {
   width: 100%;
   text-align: center;
}

.burger-menu {
   background-color: var(--celeste);
   color: #fff;
   padding: 0.6rem;
   margin: 0 auto 1rem;
   width: max-content;
   border-radius: 0.4rem;
}

.menu-icono {
   font-size: 1.5rem;
}

.banner {
   display: none;
}

main {
   width: 90%;
   margin: 0 auto;
}

main section .productos {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   gap: 1rem;
}

main > section h3 {
   width: 100%;
}

main article.card {
   margin-bottom: 10px;
   background-color: #fff;
}

main .card-body {
   border: 1px solid var(--gris-claro);
   padding: 15px;

   position: relative;
}

main .caja-icono {
   border: 1px solid var(--verde);
   width: fit-content;
   border-radius: 50%;
   padding: 0.5rem;
   background-color: #fff;

   position: absolute;
   right: 1rem;
   top: -20%;
}

main article i {
   font-size: 1rem;
   color: var(--verde);
}

main .precio-descuento-contenedor {
   display: flex;
}

main article .precio {
   margin: 0;
   width: 30%;
   font-size: 1rem;
}
main article .descuento {
   margin: 0;
   width: 70%;
   font-size: 1rem;
   color: var(--verde);
}

main h4 {
   font-weight: 400;
   margin-bottom: 0;
   font-size: 1rem;
   color: var(--gris-oscuro);
}

footer {
   background-color: #fff;

   padding: 3rem 1rem 1rem;
}

footer section {
   text-align: center;
   margin-bottom: 2rem;
}

footer h3 {
   font-size: 1rem;
   color: var(--gris-oscuro);
   margin: 0;
   font-weight: 900;
}
footer p {
   margin: 0 auto;
   color: var(--gris-oscuro);
   width: 90%;
   max-width: 350px;
}

footer section i {
   color: var(--celeste);
   font-size: 2rem;
   margin-bottom: 10px;
}

section.copyright {
   text-align: left;
   padding: 0;
   margin: 0;
}
section.copyright p {
   text-align: left;
   margin: 0;
}

@media screen and (min-width: 361px) {
   header .logo-barra-busqueda-contenedor {
      width: 90%;
      max-width: 1024px;
      flex-wrap: nowrap;
      justify-content: space-between;
   }
   .logo-principal {
      width: 30%;
   }
   .barra-busqueda {
      width: 30%;
   }
   .coutas-p {
      width: 30%;
   }

   header nav {
      display: flex;
      justify-content: space-between;
      margin: 0.5rem 0;
   }

   header nav ul {
      display: flex;
      justify-content: space-between;
      width: 50%;
   }

   header .burger-menu {
      display: none;
   }

   .banner {
      display: block;
   }

   main article.card {
      box-shadow: 0 0 10px rgb(100, 100, 100);
      width: 47%;
   }
}
@media screen and (min-width: 769px) {
   header nav {
      padding: 0 1rem;
   }

   header nav ul {
      width: 35%;
   }

   main article.card {
      width: 23%;
   }
}
